.menu-contain {margin: 20px 0px; padding: 50px;}

.card-menu {
    margin: 10px auto;
<<<<<<< HEAD
    height: 180px;
=======
    height: 200px;
>>>>>>> 9ca19233b75dcd867583d6b036e7b453848c3cc9
}

.home-menu {
    display: flex;
}

.list-menu {
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}

.title-menu {
    margin-top: 10px;
}

<<<<<<< HEAD
body {background: #F8F9FA;}
=======
body {background: #F8F9FA;}

.nav-center {}
>>>>>>> 9ca19233b75dcd867583d6b036e7b453848c3cc9
